autotech_client/frontrunnerV3-3.7.0-076-full/conf/EventCodesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="urn:com.mmsi.framework.core" 
			xmlns="urn:com.mmsi.framework.core" 
			elementFormDefault="qualified">

	<xsd:element name="Events">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Profile" type="ProfileType" maxOccurs="unbounded" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
    </xsd:element>
	
    <xsd:complexType name="ProfileType">
    	<xsd:sequence>
    		<xsd:element name="Event" type="EventType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EventType">
		<xsd:sequence>
    		<xsd:element name="Priority" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="PopupDelay" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="AssociatedCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="MergeEvents" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="ForceMergeEvents" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
    		<xsd:element name="Description" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Action" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
    	<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>
